.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4e4e4e;
  padding: 0 40px;
}
.logo {
  color: white;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: white;
  width: 300px;
}
.nav-link {
  color: white;
  text-decoration: none;
}
.contact {
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .navlinks {
    display: none;
  }
  .navbar {
    margin: 0 auto;
    padding: 0 20px;
  }
}
